@import "mixins.scss";
@import "variables.scss";

/* 1. Body */
body { font-weight: 300; background: #f4f4f4; overflow-x: hidden; }
::selection { background: rgba(0,0,0,0.1);  }
figure.vc_figure { margin: 0; }

// LAYOUT
.layout-wrap { background: transparent; position: relative; overflow: hidden;
    &.mobile-menu-active {
        .main-content, .hero-wrap, footer.footer-main, .section-title { display: none; }
        .mobile-menu { display: block; }
    }
    .mobile-menu { display: none; }
    .layout-inner { background: #fafafa; }
}
.section {
    &.stretch > .row { max-width: none; }
    &.no-padding { padding: 0;
        > .row { padding: 0;
           > .columns { padding: 0; }
        }
    }
}
.row { padding: 0 15px; }
.row .row { padding: 0; }
[class*="block-grid-"] { margin: 0 -15px; }
[class*="block-grid-"]>li { padding: 0 15px 30px; max-width: 100%; }
.vc_row {
    &:after { content: ''; display: table; clear: both; }
}

// FIX reCAPTCHAR
iframe[src="about:blank"] { display: none; }
iframe { max-width: 100%; }

// LOOKS & FEELS
.element-round {
    .button, .lt-button { border-radius: 3px; }
    .bubble a { border-radius: 100px; }
    .meta-box-list { border-radius: 3px; }
    .property-hero { border-radius: 3px; }
    .wpb_tab { border-radius: 0 0 3px 3px; }
    .wpb_tabs_nav { border-radius: 3px 3px 0 0; overflow: hidden; }
    .property-list img { border-radius: 3px; }
    .card .content-wrap { border-radius: 0 0 3px 3px; }
    .card .img-wrap { border-radius: 3px 3px 0 0; overflow: hidden; }
    .card:after { border-radius: 3px; }
    .selectBox { border-radius: 3px; }
    input[type='text'], input[type='password'], input[type='email'], textarea, .box, input[type='submit'] { border-radius: 3px; }
    .hero-card { border-radius: 3px; }
    .hero .hero-card .card-price { border-radius: 100px; }
    .thumbnail-carousel { border-radius: 3px; }
    .tooltip { border-radius: 3px; }
    ul.floorplan-list { border-radius: 3px; overflow: hidden;
        li a:after { border-radius: 3px;  }
    }
    .wp-pagenavi { border-radius: 3px; }
}

/* 2. Header */
// HEADER
.header-wrap { display: block; z-index: 1000; position: relative; text-align: center; width: 100%; left: 0; left: auto;
    &:after { content: ''; display: block; position: absolute; bottom: -1px; height: 1px; width: 100%; background: rgba(0,0,0,0.1); pointer-events: none; }
    &.element-light { color: #fff;
        a { color: #fff; }
        .header-top { background: rgba(0,0,0,0.075);
            .left a { border-color: rgba(255,255,255,0.5); }
        }
        .primary-nav {
            > ul > li.bubble a { background: transparent; border: 1px solid #fff; }
            > ul > li > ul.sub-menu { border: none; }
            > ul > li.current-menu-item > a, li.current-menu-ancestor > a { color: #fff;
                // &:after { content: ''; display: block; position: absolute; height: 4px; background: rgba(255,255,255,0.4); left: 0; bottom: 0; width: 100%; }
            }
        }
        .header-top .nav-language {
            li:after { opacity: 0.4; }
        }
    }
    a { color: $text-color; }
    .header-top { padding: 10px 0;  background: rgba(0,0,0,0.025);
        .menu { display: none; }
        .left {
            a { border-bottom: 1px dotted rgba(0,0,0,0.25); }
        }
        .search-button { display: none; margin: 0 0 0 30px; cursor: pointer; }
        .social-list { display: inline-block; margin: 0 0 0 30px; }

    }
    .header-main { line-height: 0;

    }
    .branding { font-size: 0; display: block; position: relative; vertical-align: top;
        &.text { font-size: 24px;
            .helper { display: none; }
        }
        a { height: 100%; display: inline-block; }
        .helper { display: inline-block; vertical-align: middle; height: 100%; }
        img { max-height: 100%; display: inline-block; vertical-align: middle; width: auto; }
    }
    .menu-toggle { width: 40px; height: 40px;  position: absolute; right: -10px; display: inline-block; top: 50%; margin: -20px 0 0 0; font-size: 24px; line-height: 40px; cursor: pointer; opacity: 0.75;
        &:hover { opacity: 1; }
        .close { font-size: 20px; top: -1px; position: relative; display: none; }
        &.active {
            .close { display: inline-block; }
            .menu { display: none; }
        }
    }
    .user-menu { text-transform: uppercase; }
}
.nav-language { text-transform: uppercase;
    li.active a { color: $accent-color; }
}
.header-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: -1; opacity: 1; }
.primary-nav { display: none;
    a { color: $text-color; }
}
.search-box { display: none; }

// MOBILE MENU
.mobile-menu {
    a { color: $text-color; }
    nav { margin: 0 0 35px 0; }
    .menu { margin: 0; background: #fff;
        &:first-child { border-top: 1px solid rgba(0,0,0,0.05); }
    }
    ul { list-style: none; margin: 0; padding: 0; line-height: 1.5em;
        a { padding: 12px 15px; border-bottom: 1px solid rgba(0,0,0,0.05); display: block; position: relative; }
        i { font-size: 24px; opacity: 0.5; position: absolute; right: 0; top: 0; height: 100%; line-height: 47px; width: 60px; text-align: center;  border-left: 1px solid rgba(0,0,0,0.15); }
        ul { display: none; background: rgba(0,0,0,0.02); }
    }

    li.login { display: none; }
    .login-form { padding: 0 0 30px 0; background: #fff; padding: 12px 0; border: 1px solid rgba(0,0,0,0.05); border-left: none; border-right: none; }
    .nt-search-form { padding: 12px 15px; background: #fff; border: 1px solid rgba(0,0,0,0.05); border-left: none; border-right: none;  }
    .social-menu { border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        &:after { content: ''; display: table; clear: both; }
        li { float: left; }
        i { position: relative; border: none; }
        a { border: none; }
    }
}
.login-form {
    p { margin: 0 0 20px 0; }
    input[type='submit'] { width: 100%; text-align: center; }
    .login-submit { margin: 10px 0 0 0; }
    .login-remember { display: none; }
    .tab-list { margin: 10px 0 0 0; padding: 0;
        li { display: inline-block; margin: 0 20px 0 0;
            &.active { display: none; }
            a { display: inline; border: none; padding: 0; color: $accent-color; }
        }
    }
}
.modal-mask { display: none; }

/* 3. Footer */
//  FOOTER
.footer-main {
    &.element-light { color: #fff;
        a { color: #fff; }
    }
    .widget { margin: 0 0 50px 0;
        ul li { margin: 0 0 5px 0; padding: 0; border: none; }
    }
    a { color: $text-color; }
}
.footer-top { padding: 60px 0; position: relative;
    &:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 1px; background: rgba(0,0,0,0.05); }
}
.footer-bottom { padding: 50px 0; text-align: center; background: rgba(0,0,0,0.05); }
.social-list { list-style: none; padding: 0; margin: 0 0 20px 0;
    li { display: inline-block; margin: 0 5px; }
    i { width: 32px; height: 32px; border: 1px solid $text-color; border-radius: 100%;  display: block; line-height: 32px; font-size: 16px;
        color: $text-color; text-align: center; transition: all 0.25s ease;
        &:hover { background: $text-color; color: #fff; }
    }
}
.element-light {
    .social-list i { border-color: #fff; color: #fff;
        &:hover { background: rgba(255,255,255,0.15); }
    }
}



// MESSAGE
.message-mask { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 1000; transition: all 0.25s ease; color: #fff; font-size: 28px; line-height: 1.5em; display: table; text-align: center; padding: 20px;
    &.inactive { visibility: hidden; opacity: 0;
        .inner { transform: translate(0,40px); opacity: 0; }
    }
    .inner { display: table-cell; vertical-align: middle; transition: all 0.25s ease; }
    i { border: 1px solid #fff; width: 50px; height: 50px; text-align: center; line-height: 50px; border-radius: 100px; cursor: pointer; display: inline-block; font-size: 24px; }
}

/* 4. Widget */

// WIDGET
.widget-property {
    ul li { clear: both;   overflow: hidden; padding: 0; margin: 0 0 20px 0; border: none;
    }
    img { float: left; height: 60px; margin: 0 15px 0 0; border-radius: 3px; z-index: 10; position: relative; }
    a { color: $text-color; }
    .price { display: block; opacity: 0.5; }
}
.widget-property-search {
    .widget-body { padding: 20px 24px; background: #fff; border: 1px solid #ddd; }
    .property-search-form {
        .columns { margin: 0 0 25px 0; width: 100%; }
        .search-submit { margin: 5px 0 0 0;
            label { display: none; }
        }
        input[type='submit'] { padding: 10px 20px; }
        input[type='text'], input[type='password'], input[type='email'], textarea { padding: 6px 10px; }
    }
    .vspace { height: 0; }
}
.flickr-badge-wrapper {
    img { width: 69px; }
}

// dsIDXpress
body .dsidx-details #dsidx-media { height: auto !important; }
.dsidx-resp-search-box { padding: 20px 24px; background: #fff; border: 1px solid #ddd;
    .dsidx-resp-area { margin: 0 0 15px 0;
        label { clear: both; }
    }
    .submit { width: 100% !important; text-align: center; }
}
.dsidx-resp-search-box {
    .dsidx-resp-submit { width: 100% !important; text-align: center; }
}
.dsidx-summary { margin: 0; }
.dsidx-results { margin: 0; padding: 0; }
.dsidx-widget-search {
    label { padding: 0; }
    select, input[type='text'], .selectBox { margin: 0 0 18px 0; }
    .dsidx-search-button { font-size: inherit;
        .submit { font-size: inherit; width: 100%; padding: 15px 20px; }
    }
}
.dsidx-details #dsidx-secondary-data { border: 1px solid #ddd !important; }
.dsidx-widget-listings {
    div.dsidx-results-widget, div.dsidx-results-widget p { font-size: inherit !important; }
    div.dsidx-results-widget { border: 1px solid #ccc; border-radius: 3px;
        .dsidx-controls { padding: 0; border-top: 1px solid #ddd; text-align: left !important; margin: 0;
            a { display: inline-block !important; padding: 10px 12px !important; border-right: 1px solid #ccc; border-left: 1px solid #ccc; color: $text-color; background: #f5f5f5; opacity: 0.5; position: relative; margin: 0 -1px 0 0;
                &:first-child { margin-left: -7px; }
                &:hover { opacity: 1; }
                &.active { background: #fff; opacity: 1; }
            }
        }
        .dsidx-list {
            li { margin-top: -1px; border-top: none; line-height: 1.5em !important; }
            li a { padding: 14px 10px; }
        }
    }
    div.dsidx-results-widget ul, div.dsidx-results-widget ul li, div.dsidx-results-widget h4, div.dsidx-results-widget p { font-size: inherit !important; }
    div.dsidx-results-widget .dsidx-slideshow-control { font-weight: normal; padding: 5px; height: auto; border: none; }
    div.dsidx-results-widget .dsidx-slideshow ul li { padding: 15px 12px !important; }
    div.dsidx-results-widget .dsidx-slideshow ul li p span { display: none; opacity: 0.5; }
    div.dsidx-results-widget .dsidx-slideshow ul li p {
        span.beds, span.baths, span.price { display: inline-block; font-weight: normal; font-size: 0.8em; line-height: 1.3em; }
    }
    div.dsidx-results-widget { background: #fff;
        h4 { font-weight: normal !important; border: none; line-height: 1.3em !important; margin-bottom: 0 !important; font-size: 13px !important; }
        h4 a { font-size: inherit !important; color: $text-color;  }
    }
    div.dsidx-results-widget .dsidx-map .dsidx-results-widget-map-details .featured-listing, div.dsidx-results-widget .featured-listing { padding: 15px 12px !important; margin: 0 !important;
        li { display: none; }
        li.beds, li.baths, li.price { display: inline-block; font-weight: normal !important; font-size: 0.8em !important; line-height: 1.3em !important; border: none; opacity: 0.5; padding-top: 0; }
    }
    div.dsidx-results-widget .dsidx-panel .dsidx-photo { position: relative; top: 0; }

    div.dsidx-results-widget .dsidx-map .dsidx-results-widget-map-details { height: auto;  }
}


.dsidx-widget-single-listing-wrap {
    .dsidx-widget { width: auto; background: #fff; color: inherit; border-radius: 3px; }
    img { width: 100%; height: auto; }
    h3.widget-title { color: inherit !important;
        a { color: inherit !important; }
    }
    .dsidx-widget-single-listing-slideshow .dsidx-widget-single-listing-photo { width: 295px; max-width: 100%; }
    .dsidx-widget-single-listing-meta .dsidx-widget-single-listing-price { color: inherit; font-weight: normal; font-size: 20px; }
    .dsidx-widget-single-listing-meta div { padding: 10px; }
    .dsidx-widget-single-listing-meta .dsidx-widget-single-listing-photo-count { display: none; }
}
body .dsidx-widget-single-listing { border-color: #ddd; }
body .dsidx-widget-listings div.dsidx-results-widget { border-color: #ddd; }
#dsidx ul.dsidx-tabs, body.dsidx ul.dsidx-tabs { clear: both; }
.dsidx-results {
    // .dsidx-paging-control { float: left; background: #fff; border: 1px solid #ddd; border-radius: 3px; padding: 3px 15px; margin: 0; }
    .dsidx-paging-control { margin: 20px 0; }
    .dsidx-sorting-control { float: left !important; text-align: left !important; font-size: inherit !important; margin: 20px 0 40px 0 !important;
        .selectBox { position: relative;  }
    }
    #dsidx-map-control { clear: both; margin: 0 0 20px 0; display: none; }
    #dsidx-map {  }
    .dsidx-prop-summary {  display: block; margin: 0 0 40px 0; background: #fff; border: 1px solid #eee; border-radius: 3px; overflow: hidden; padding: 15px;
        .dsidx-prop-title { padding: 10px 15px; background: #e5e5e5; margin-bottom: 15px !important; margin: -15px; }
        .dsidx-prop-features { margin-left: 120px; opacity: 0.9; }
    }
}
#dsidx a { color: $text-color; }
#dsidx a:hover { text-decoration: none; }
.dsidx-results .dsidx-paging-control a, #dsidx .dsidx-sorting-control a { text-decoration: none; }
#dsidx-actions { display: none; }
#dsidx {
    h3 { font-weight: normal; margin: 50px 0 20px 0; border: none; }
}
#dsidx td, #dsidx th { padding: 8px 12px; float: none; }
#dsidx th {  border-right: 1px solid #eee; }
#dsidx-disclaimer { clear: both; padding: 20px 0 0 0; opacity: 0.75;
        p { margin: 0; }
}
.dsidx-details {
    hr { display: none; }
    #dsidx-property-types { margin: 50px 0 20px 0; }
    #dsidx-description { padding: 20px; background: #fff; margin: 40px 0; font-size: 1em; }
    #dsidx-media { max-width: 100%; }
}
.dsidx-details #dsidx-header table {
    tr { border: none; }
    td { padding: 0; border: none; }
}
.dsidx-details #dsidx-primary-data  { border-left: none; border-right: none; border-bottom: none; border-radius: 0;
    tr td, tr th { padding: 6px 12px ; }
    tr:hover td { background: transparent !important; }
}
.jb-dt-main-frame .jb-dt-main-image { width: auto !important; left: 0 !important;
    img { width: 100% !important; }
}
#dsidx-contact-form {
    table td { border: none; }
}
.dsidx-details #dsidx-primary-data #dsidx-price { border-bottom: 1px solid #eee; }
.dsidx-resp-area input[type="text"], .dsidx-resp-area input[type="submit"] { padding: 6px 10px; }
.dsidx-resp-search-box.dsidx-resp-horizontal .dsidx-resp-area {  }
body .dsidx-resp-area input[type="text"] { margin-bottom: 0; }
#dsidx .dsidx-sorting-control .select2 { width: auto !important; }


// DSIDX SINGLE
body .dsidx-details {
    .dsidx-headerbar { padding: 10px 15px; }
    .dsidx-header-title { padding: 0; }
    .dsidx-headerbar-green { padding: 10px 15px; }
    #dsidx-tiny-photos { margin: 20px 0; }
}
#dsidx .dsidx-call-to-action { padding: 15px !important; }

// DSID LISTING
#dsidx-listings .dsidx-listing { border: 1px solid #eee; margin: -1px 0 0 0; }
body .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data, body .dsidx-results-grid #dsidx-listings .dsidx-listing:hover .dsidx-data { padding: 10px; }
body .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-primary-data { padding: 0; }
body #dsidx-top-search #dsidx-search-bar { padding: 10px; }

#dsidx-search-filters {
    label { display: inline; }
    table th { border: none; }
    table td, table th { padding: 10px; }
    .select2 { margin: 0 0 10px 0; }
}
// DSIDX SEARCH
body .dsidx-resp-search-box.dsidx-resp-horizontal .dsidx-resp-area { padding: 0 10px; }
body .dsidx-resp-search-box.dsidx-resp-horizontal fieldset { margin: 0 -10px; }
.property-search-box .dsidx-resp-search-box { padding: 0; background: transparent; border: none; }

// CONTENT
.main-content { background: #fafafa; }
.section { padding: 50px 0;
    .row.full-width { max-width: 100%; }
    .vc_inner { padding: 0; }
}

/* 5. Page Content */
// TITLE
.section-title { text-align: center; position: relative;
    &:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; height: 1px; width: 100%; background: rgba(0,0,0,0.05); }
    a { color: $text-color; }
    .thumb { margin: 0 auto 30px; width: 160px; height: 160px; border-radius: 100%; background: rgba(255,255,255,0.8); overflow: hidden; line-height: 190px; text-align: center; font-size: 145px; color: #aaa; position: relative; z-index: 10;
        &:after { content: ''; display: block; width: 160px; height: 160px; border-radius: 100%; border: 1px solid rgba(0,0,0,0.1); position: absolute; top: 0; left: 0; }
        img { position: absolute; left: 0; top: 0; }
    }
}

// HERO
.hero { background: center center no-repeat; background-size: cover; position: relative; background: #eee; clear: both; height: 550px;
    &.slide-hero { height: auto;
        .carousel-content { text-align: center;
            .item { padding: 140px 50px 170px; }
            .slide-title { font-size: 40px; line-height: 1.5em; text-shadow: 0 2px 5px rgba(255, 255, 255, 0.25); }
            .desc { opacity: 0.75; margin: 20px 0 0 0; font-size: 18px; line-height: 1.5em; }
            .lt-button { margin: 40px 0 0 0; background: none; border-color: $text-color; color: $text-color; opacity: 0.8;
                &:hover { border-color: $text-color; color: $text-color; opacity: 1; }
            }
            .element-light { color: #fff;
                a { color: #fff; }
                .lt-button { border-color: #fff;
                    &:hover { border-color: #fff; color: #fff; }
                }
                .slide-title { text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); }
            }
        }
        .bg {
            &:after { opacity: 0.25; }
        }
    }
    .row, .columns { position: relative; height: 100%; }
    .hero-card { position: absolute; bottom: 40px; left: 15px; right: 15px; z-index: 100; max-width: 450px; background: rgba(255,255,255,0.95);
        .card-title { font-size: 24px; line-height: 1.5em;
            a { display: block; color: $text-color; }
            i { position: absolute; right: 25px; display: block; transition: all 250ms ease; top: 10px; }
            &:hover {
                i { transform: translate(5px,0); }
            }
        }
        .card-price { font-size: 22px; line-height: 1.5em; float: left;  padding: 0 15px; color: #fff; background: #70b001;
            small { opacity: 0.75; font-size: 14px; }
        }
        .card-meta { margin: 0 0 20px 0;
            i { margin: 0 2px 0 12px; }
        }
        .card-head { padding: 10px 25px; border-bottom: 1px solid rgba(0,0,0,0.025); background: rgba(0,0,0,0.05);
        }
        .card-body { padding: 20px 25px 0;
        }
        .card-bottom { padding: 2px 25px 20px;  }
    }
    .badge { position: absolute; bottom: 100px; left: 15px; right: auto; pointer-events: none; @include transition(all 500ms ease); z-index: 100;
        .status { display: block; float: left; position: relative; color: #fff; padding: 3px 10px; z-index: 100; overflow: hidden; font-size: 18px; @include transition(all 800ms ease); white-space: nowrap; clear: both;
            &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: $accent-color; opacity: 0.8; z-index: -1;  }
            a { color: #fff; }
        }
        .price { display: block; float: left; position: relative; padding: 15px; z-index: 100; overflow: hidden; font-size: 34px; clear: both; @include transition(all 700ms ease); min-width: 120px;
            &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; opacity: 0.9; z-index: -1;  }
            small { opacity: 0.5; font-size: 20px; }
        }
    }

    .title { position: absolute; bottom: 55px; left: 15px; font-size: 24px; list-style: 1.5em; color: #fff; z-index: 100; padding: 0 35px 0 0;
        &:hover {
            i { transform: translate(10px,0); }
        }
        a { color: #fff; }
        i { margin: 0 0 0 10px; bottom: -3px; position: absolute; transition: all 250ms ease; display: block; right: 0; }
    }
    .lt-carousel { height: 100%; margin: 0; padding: 0; }
    .lt-carousel li, .owl-stage-outer, .owl-stage, .owl-item { height: 100%;  }
    .owl-controls { bottom: auto; top: 0;
        .owl-dots { top: 30px; right: 30px;
            .owl-dot { float: none; margin: 0 0 10px 0; }
        }
    }
    .bg-wrap { background: #eee; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
        &:after { opacity: 0.25;  z-index: 1; pointer-events:none; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 130px; background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
        }
        .item {  position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: all 1s ease; opacity: 0; visibility: hidden;   background: no-repeat center top; background-size: cover;
            &.active { visibility: visible; opacity: 1; }
        }
    }
}
.property-search-box-wrap { background: #fafafa; position: relative; z-index: 100; }
.property-search-box { padding: 15px 0;  width: 100%; box-sizing: border-box;
    .columns { margin-bottom: 20px; }
}
.map-wrap {
    .marker { width: 36px; height: 36px;  cursor: pointer;
        &:hover {
            .dot { @include scale(0.85); }
        }
        &:after { content: ''; display: block; width: 20px; height: 20px; border-radius: 20px; background: $accent-color; position: absolute; left: 8px; top: 8px; }
        .dot { width: 36px; height: 36px; border-radius: 30px; background: $accent-color; opacity: 0.25; position: absolute; left: 0; top: 0; transition: all 0.25s ease; z-index: -1; }
    }
    .info-box { position: absolute; width: 300px; bottom: 40px; left: -139px; visibility: hidden; opacity: 0; transition: all 250ms ease; @include translate(0, 10px); box-shadow: 0 0 20px rgba(61, 56, 90, 0.3); border-radius: 3px; z-index: 10;
        &:after { content: ''; display: block; position: absolute; bottom: -9px; left: 50%; margin: 0 0 0 0; width: 0; border-top: 10px solid #fff; border-left: 6px solid transparent; border-right: 6px solid transparent; }
        &.active { visibility: visible; opacity: 1; @include translate(0, 0); }
        img { max-width: 100%; border-radius: 3px 3px 0 0;  }
        .inner { padding: 15px; }
        .meta-list { font-size: 0.9em; opacity: 0.75; }
    }
    .cluster {
        div { color: #fff !important; }
        &:before { content: ''; display: block; position: absolute; left: 0; top: 0; background: $accent-color; border-radius: 100%; width: 100%; height: 100%; opacity: 0.25; z-index: -2; transform: scale(1,1); }
        &:after { content: ''; display: block; position: absolute; left: 0; top: 0; background: $accent-color; border-radius: 100%; width: 100%; height: 100%; opacity: 0.75; z-index: -1; transform: scale(0.7,0.7); }
        img { visibility: hidden; }
    }
}
.map-outer-wrap { position: relative;
    .overlay-link { position: absolute; bottom: 15px; right: 15px; padding: 2px 15px; background: $accent-color; border-radius: 100px; color: #fff; }
}

/* 6. Property */
// PROPERTY
.property-head { margin: 0 0 30px 0;
    .title { font-size: 30px; line-height: 1.5em; }
    ul { list-style: none; margin: 0; padding: 0; opacity: 0.8;
        li { display: inline;
            &:after { content: '/'; margin: 0 6px; opacity: 0.25; }
            &:last-child:after { display: none; }
        }
    }
    a { color: $text-color; }
}
.overlay-icon { position: absolute; left: 50%; top: 50%; font-size: 80px; color: #fff; transform: translate(-50%, -50%); opacity: 0.8; background: rgba(0,0,0,0.5); display: block; width: 78px; height: 78px; line-height: 78px; border-radius: 100%; }
.property-hero { margin: 0 0 40px 0; border: 0px solid #ddd;  overflow: hidden; background: #fafafa; position: relative; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    &:hover {
        .add-wish-list { visibility: visible; opacity: 1; }
    }
    .carousel-wrap { position: relative;
        &:after { content: ''; display: block; position: absolute; width: 100%; height: 100%; border: 1px solid rgba(0,0,0,0.05); top: 0; left: 0; pointer-events: none; z-index: 100; border-bottom: none;  }
    }
    .lt-carousel {
        &:after { pointer-events:none; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 70px; background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
        }
        .owl-dots { left: 20px; right: auto;
            .owl-dot { margin: 0 10px 0 0; }
        }
    }
    .add-wish-list { position: absolute; top: 0; right: 0; z-index: 100; color: #aaa; width: 37px; height: 35px; line-height: 35px; text-align: center; font-size: 20px; visibility: hidden; opacity: 0; transition: all 0.2s ease;
        &.active { color: $accent-color; }
        &:before { content: ''; width: 90px; height: 90px; background: rgba(255,255,255,0.95); position: absolute; right: -45px; top: -45px; transform: rotate(45deg);  }
        .lt-icon { position: relative; opacity: 0.75; transition: all 0.25s ease;
            &:hover { opacity: 1; }
            &:active { transform: scale(1.1,1.1); }
        }
    }
    .badge { right: 20px; bottom: 20px;
        .price { font-size: 30px; line-height: 1em; padding: 8px 15px;
            small { font-size: 18px; }
        }
        .status { padding: 2px 10px; font-size: 16px; }
    }
    .thumbnail-carousel { position: absolute; bottom: 20px; left: 20px; border: 0 solid rgba(255,255,255,0.25); display: none;
        &:after { display: none; }

        .owl-item { cursor: pointer; width: auto;
            img { height: 48px; width: auto; filter: grayscale(100%); opacity: 0.25; transition: all 0.25s ease; }
            &:hover img, &.colored img { filter: grayscale(0); opacity: 1; }
            .item { background: #fff; }
        }
    }
}
.thumb-nav { margin: -28px -8px 30px;
    li { padding: 8px; cursor: pointer; opacity: 0.25; transition: all 0.25s ease; position: relative;
        &:hover { opacity: 0.5; }
        &.active { opacity: 1;
            img { filter: grayscale(0); }
        }
        img { filter: grayscale(100%); }
    }
    .overlay-icon { font-size: 40px; width: 38px; height: 38px; line-height: 38px; }
}
.property-features-tabs {
    .ui-tabs { padding: 0;
        .ui-tabs-nav {
            li { margin: 0; }
        }
    }
}
ul.attachment-list { padding: 0; margin: 0; list-style: none; display: inline;
    li { display: inline; margin: 0; border: none; padding: 0;
        &:after { content: '/'; margin: 0 10px; opacity: 0.5; }
        &:last-child:after { display: none; }
    }
}
ul.floorplan-list { list-style: none; padding: 0; margin: 0 -10px;
    li { border: none; float: left; padding: 0; margin: 15px 10px; width: 12%; position: relative;
        a:after { content: ''; display: block; width: 100%; height: 100%; top: 0; left: 0; position: absolute; border: 1px solid rgba(0,0,0,0.1); }
    }
}
.amenity-list {
    li { margin: 0 0 10px 0; padding-bottom: 0; opacity: 0.25;
        // &:before { content: "\e004"; font-family: "Flaticon"; margin: 0 6px 0 0; }
        i { margin: 0 6px 0 0; }
        &.active { opacity: 1;
            // &:before { content: "\e001"; }
        }
    }
}
.property-hero-list { list-style: none; padding: 0; margin: 0;  @extend .clearfix; line-height: 32px; background: #fff;
    li { float: left; padding: 16px 20px;  position: relative;

        &.price { float: right; font-size: 34px;  background: #fff;
            // &:before { content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 1px; background: #ddd;  }
            small { opacity: 0.6; font-size: 20px; font-style: italic; font-weight: 300; }
        }
    }
}
.card { position: relative; overflow: hidden; background: #fff;
    &:after { content: ''; display: block; position: absolute; width: 100%; height: 100%; border: 1px solid rgba(0,0,0,0.1); top: 0; left: 0; pointer-events: none;  }
    a { color: $text-color; }
    .meta-box-list { margin: 25px 0 0 0; border-radius: 0; border: none; background: transparent;  opacity: 0.75;
      &:after { content: ''; display: table; clear: both; }
        li { padding: 0; border: none; display: inline-block;
            &.right {
                i { margin: 0 2px 0 12px; }
            }
        }
    }
    .img-wrap { position: relative;
        &:after { pointer-events:none; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 40px; background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
        }
    }


    .content-wrap { padding: 15px;
        .meta-list { opacity: 0.5; margin: 5px 0 0 0; }
    }
    .title { font-size: 1.3em; line-height: 1.4em; }
    .excerpt { margin: 20px 0 0 0; opacity: 0.5; font-size: 0.95em; line-height: 1.5em; }
}
.badge { position: absolute; bottom: 15px; right: 15px; pointer-events: none;
            .status { display: block; float: right; position: relative; color: #fff; padding: 0 6px; z-index: 100; overflow: hidden; font-size: 14px; clear: both;
            &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: $accent-color; opacity: 0.8; z-index: -1;  }
            a { color: #fff; }
        }
        .price { display: block; float: right; position: relative; padding: 5px 10px; z-index: 100; overflow: hidden; font-size: 20px; clear: both; @include transition(all 700ms ease); min-width: 80px; text-align: right;
            &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; opacity: 0.9; z-index: -1;  }
            &.small { font-size: 18px;
                small { font-size: 12px; }
            }
            small { opacity: 0.5; font-size: 14px; }
        }
    }
.view-option-list { list-style: none; margin: 0 0 40px 0; padding: 0;
    li { float: right; }
}
.property-list {
    a { color: $text-color; }
    img { height: 60px; width: auto; float: left; margin: 0 15px 0 0; display: block;  }
    .meta-list { opacity: 0.5; display: inline-block; }
}
.agent-contact-form {
    .lt-button-wrap { width: 100%; }
}

/* 7. Agent */
// AGENT
.agent-card { clear: both; margin: 0 0 40px 0;
    img { border-radius: 100%; float: left; width: 85px; height: 85px; margin: 0 30px 0 0; }
    .title { font-size: 22px; line-height: 1.5em; padding: 10px 0 0 0; }
    .sub { margin: 5px 0 0 0;
        ul { list-style: none; }
        a { color: $text-color; }
    }
    .bio { clear: both; margin: 30px 20px 0 0;  }

}
.contact-note { margin: 0 0 40px 0; }


/* 8. Elements */
// ELEMENTS


// CAROUSEL
.post-carousel { margin: 0 0 30px 0; padding: 0 0 30px 0;
    .owl-controls {
        .owl-dots { right: 0; bottom: 0;
            .owl-dot { background: rgba(0,0,0,0.3); }
        }
    }
}

// LIST
.table-list { list-style: none; padding: 0; margin: 0;
    > li { padding: 10px 2px; border-bottom: 1px solid #f5f5f5;
        &:last-child { border: none; padding-bottom: 0; }
        &:first-child { padding-top: 0; }
    }
    strong { padding: 0 10px 0 0; display: inline-block; font-weight: normal; }
    span { opacity: 0.6; }
}
.meta-list { list-style: none; padding: 0; margin: 0;
    li { display: inline;
        &:after { content: '/'; margin: 0 6px; opacity: 0.75; }
        &:last-child:after { display: none; }

    }
}
.meta-box-list { border: 1px solid #ddd; background: #fafafa; list-style: none; padding: 0; margin: 0 0 20px 0; line-height: 1em;
    li { padding: 10px 20px; display: block; border-bottom: 1px solid #ddd; background: #fff; position: relative;
        &:last-child { border-bottom: none; }
    }
    .lt-icon { margin: 0 6px 0 0; opacity: 0.8; }
    .big { font-size: 1.15em; }
}
.manage-list { list-style: none; margin: 0; padding: 0; font-size: 18px; line-height: 1em;
    a { color: $text-color; }
    li { display: inline-block; margin: 0 3px 0 0; }
}


// MAP
.map-wrap, .location-picker { width: 100%;
    > div { width: 100%; height: 100%; }
    img { max-width: none; }
    .gm-style-cc { display: none; }
}

// CAPTCHA
#recaptcha_widget { position: relative; margin: 0 0 20px 0;
    .refresh {
        a { color: $text-color; }
        .lt-icon { font-size: 24px; position: absolute; bottom: 3px; right: 8px; opacity: 0.6;
            &:hover { opacity: 0.8; }
        }
    }
    input[type='text'] { margin: -1px 0 0 0; }
}
#recaptcha_image { max-width: 100%; width: 100% !important; height: auto !important; overflow: hidden; border: 1px solid #ccc;
    img { position: relative; z-index: 10; display: block; width: 100% !important; height: auto !important;  }
}
// FORM
.property-search-form {
    .row { margin-bottom: 15px;
        &:last-child { margin-bottom: 0; }
    }
    label { display: block; margin: 0 0 7px 0;
        small { opacity: 0.75; font-size: 1em; margin-top: 5px;
            &.right {   }
        }
    }
    input[type='text'] { padding: 6px 10px; margin: 0; }
    input[type='submit'] { display: block; width: 100%; text-align: center; padding: 6px 10px; }
    .lt-button-wrap { width: 100%; }
}

// MEMBER
.upload-img { position: relative; display: inline-block; border: 1px solid #eee; margin: 0 10px 10px 0;
    &:hover {
        i { display: block; }
    }
    i { position: absolute; top: 2px; right: 2px; background: rgba(255,255,255,0.9); padding: 5px; cursor: pointer; font-size: 20px; display: none; }
    img { border: 2px solid #fff; }
}


// SHARE
.share-box { @extend .clearfix; margin: 40px 0 0 0; font-size: 14px; line-height: 1.5em; }
.jssocials-share-print .jssocials-share-link { background: #333; }
